body {
    background-color: rgb(179, 179, 179);
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    
    margin-left: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b2a90;
    padding: 20px;
    text-align: center;
    height: 50vh;
    min-height: 660;
}


header h1 {
    position: static;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    font-size: 5rem;
}

header img.portada {

    width: auto;
    min-width: 50px;
    height: 50vh;
    max-height: 850px;
    min-height:200px;

}

/*nav styles*/
nav {

    width: 25%;
    height: 50vh;
    align-self: flex-start;
    color: rgb(219, 230, 9);
    display: flex;
    justify-content: space-around;
    font-style: italic;
}

nav a {
    color: rgb(219, 230, 9);
    text-decoration: none;
}

ul{
    background-color: #4b2a90;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2rem;
}

.navTitle {
    margin-top: 2rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 60px;
    background-color: rgb(113, 163, 56);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}

section{
    z-index:2;
}

.navTitle h2 {
    margin-top: 0;
    align-self: center;
    font-size:5 rem;
    font-weight: bold;
    margin-bottom: 0;
}

.notices{
    z-index: 1;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.notices li {
    color: white;
    background-color: rgb(85, 221, 162);
    width: 300px;
    height: 200px;
    padding: 2%;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    justify-content: center;
    list-style: none;
    border-radius: 10px;
    font-size: 1.5rem;
   
}


.container {

    display: flex;
    align-items: center;
    z-index: 5;
    margin-top: 9vh;
    flex-direction: column;
    background-color: #4b2a90;
}

/* about */

.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

/* contact */
.contact {
    background-color: #4b2a90;
    padding: 5%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size:   2rem;
}

/* rules */

.rules {
    background-color: aliceblue;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    border-radius: 10px;
}

/* footer */


.space {
    height: 150px;
}
.footer {
    
   z-index: 6;
   position:fixed;
   left:0px;
   bottom:0px;
   height:10vh;
   width:100%;
   background:rgb(86, 229, 134);
   display: flex;
   justify-content: space-around;
   align-items: center;
}
